<html>
<head>
    <title>Devin Kelly-Collins</title>

    <link rel="stylesheet" href="styles/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/resume.css">
    <link href='http://fonts.googleapis.com/css?family=Trocchi' rel='stylesheet' type='text/css'>

    <script src="scripts/lib/angularjs/angular.min.js"></script>
    <script src="scripts/lib/jquery/jquery-2.1.1.min.js"></script>
    <script src="scripts/google-analytics.js"></script>
    <script src="styles/bootstrap/js/bootstrap.min.js"></script>

    <script src="scripts/resumeCtrl.js"></script>
</head>
<body ng-app>
<div ng-controller="ResumeCtrl" class="container">
    <div class="row">
        <h1 class="text-center">{{resumeData.Info.Name}}</h1>
        <hr/>
        <div>
            <div class="col-xs-3 text-left">
                <span>{{resumeData.Info.Email}}</span>
            </div>
            <div class="col-xs-6 text-center">
                <div>
                    <span>{{resumeData.Info.Address}}</span>
                </div>
                <div>
                    <span>{{resumeData.Info.Website}}</span>
                </div>
            </div>
            <div class="col-xs-3 text-right">
                <span>{{resumeData.Info.Phone}}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <strong>{{resumeData.Education.Title}}</strong>
        </div>
        <div class="col-xs-10">
            <div ng-repeat="school in resumeData.Education.Schools">
                <div>
                    <strong>{{school.Name}}</strong>
                    <span>, {{school.Location}}</span>
                </div>
                <div>
                    <span>{{school.Degree}}</span>
                </div>
                <div>
                    <span>Expected Graduation: {{school.GraduationDate | date:'MMMM yyyy'}}</span>
                </div>
                <div>
                    <span>GPA: {{school.GPA}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <strong>{{resumeData.Skills.Title}}</strong>
        </div>
        <div class="col-xs-5">
            <strong>Languages</strong>
            <ul>
                <li ng-repeat="skill in resumeData.Skills.Languages">{{skill}}</li>
            </ul>
        </div>
        <div class="col-xs-5">
            <strong>Frameworks</strong>
            <ul>
                <li ng-repeat="framework in resumeData.Skills.Frameworks">{{framework}}</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <strong>{{resumeData.Experience.Title}}</strong>
        </div>
        <div class="col-xs-10">
            <div ng-repeat="job in resumeData.Experience.Jobs">
                <div class="pull-right">
                    <span>{{(job.StartDate | date:'MMM yy') || 'Current'}} - {{(job.EndDate | date:'MMM yy') || 'Current'}}</span>
                </div>
                <div>
                    <strong>{{job.Company}}</strong>
                    <span>{{job.Department}}</span>
                </div>
                <div>
                    <span>{{job.Position}}</span>
                </div>
                <div>
                    <ul>
                        <li ng-repeat="detail in job.Details">{{detail}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <strong>{{resumeData.Awards.Title}}</strong>
        </div>
        <div class="col-xs-10">
            <ul>
                <li ng-repeat="award in resumeData.Awards.Awards">{{award.Name}} - {{award.Date}}</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <strong>{{resumeData.Organizations.Title}}</strong>
        </div>
        <div class="col-xs-10">
            <div ng-repeat="org in resumeData.Organizations.Orgs">
                <div class="pull-right">
                    <span>{{(org.StartDate | date:'MMM yy') || 'Current'}} - {{(org.EndDate | date:'MMM yy') || 'Current'}}</span>
                </div>
                <div>
                    <strong>{{org.Name}}</strong>
                </div>
                <div>
                    <span>{{org.Position}}</span>
                </div>
                <div>
                    <ul>
                        <li ng-repeat="detail in org.Details">{{detail}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>